<h1>Tweeting</h1>

<form action="/tweets" method="post" >
<input type="hidden" name="user_id" value="<%=session[:user_id]%>">
	<label for='content'>What's on your mind? </label></br></br>
	<textarea type="text" name="content" id="content" rows="35" cols="50"></textarea></br></br>

	<input type="submit" value="submit">

</form>	

