<html>
  <title>Fwitter</title>
  <body>
    <h1>Create Your New Tweet</h1><br>
    <form method="post" action="/tweets">
      <label for="content">What's on your mind?</label>
      <input type="text" id="content" name="content">
      <input type="submit" id="submit" value="Tweet">
    </form>
  </body>
</html>