<form action="/login" method="POST">
	<input type="text" name="username" placeholder="username" id="username">
	<input type="password" name="password" placeholder="password" id="password">
	<input type="submit" value="Login" id="submit">
</form>