<h1>Sign Up</h1>

<form action="/signup" method="POST">
  
<h5>Username:</h5>
<input type="text" name="username">
<br>

<h5>Email:</h5>
<input type="text" name="email">
<br>

<h5>Password:</h5>
<input type="text" name="password">
<br>

<input type="submit" value="Submit">
  
</form>

<p>You can log in here if you have an account
<a href="/users/login">Log In</a>
</p>