<h1>Sign Up</h1>
<fo
rm action="/signup" method="POST">

<h3>Username:</h3>
<input type="text" name="username">
<br>
<h3>Email:</h3>
<input type="text" name="email">
<br>
<h3>Password:</h3>
<input type="text" name="password">
<br>
<input type="submit" value="Submit">

</form>

<p>You can log in here if you have an account
<a href="/users/login">Log In</a>
</p>
