
+<<!doctype html>
+<html>
+  <head>
+    <title> Welocme to Fwitter</title>
+  </head>
+  <body>
<h1> Welcome to fwitter!<h1>


<p>Please signup or login:</p>
    <a href="/login"><button>Log In</button></a>
    <a href="/signup"><button>Sign Up</button></a>