<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

<% if !logged_in? %>
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
<% end %>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>

      <% if logged_in? %>
        <h2>Hello, <%= current_user.username %></h2>
        <a href="/users/<%= current_user.slug %>">Me</a>
        <a href="/tweets">All Tweets</a>
        <a href='/tweets/new'>New Tweet</a>
      <% end %>
      

      <%= yield %>
    </div>
    <%= "<a href='/logout'> Logout </a>" if logged_in? %>

  </body>
</html>
